html{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(233, 233, 233);
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    color: #333333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 65px;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0;
    margin-top: 20px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
    justify-content: center;
}
.container{
    height: 700px; 
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    border: 3px solid #333333;
    box-shadow: 2px 2px 14px rgb(105, 104, 104);
}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.boxmodel{
    align-items: center;
    justify-content: center;
}

.grid-size-display{
    text-align: center;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.range{
    display: flex;
    align-items: center;
    justify-content: center;
}

#sizeSlider{
    padding: 10px;
    width: 50%;
    border: none;
    transition: transform 0.1s ease-in-out;
}
#sizeSlider:hover{
    cursor: pointer;
}

button{
    height: 70px;
    width: 180px;
    border: 2px solid rgb(207, 207, 207);
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    color: #333333;;
}

button:hover{
    background-color: rgba(233, 233, 233, 0.961);
    cursor: pointer;
}
button:active{
    background-color: rgb(228, 228, 228);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.309);
}
#color-picker{
    height: 70px;
    width: 180px;    
    border: none;
    border-radius: 50px;
    padding: 0;
    margin: 0;
}
#color-picker:hover{
    cursor: pointer;
}
footer{
    color: white;
    width: 100vw;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    text-align: center;
    font-size: 23px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button-active{
    background-color: #373737;
    color: white;
}

.button-active:hover{
    background-color: #333333;
}

@media only screen and (max-width: 420px){
    html{
        width: unset;
        overflow: scroll;
        max-height: 100vh;
    }
    body{
        height: 100vh;
        max-height: 100vh;
        width: unset;
        overflow: hidden;
    }
    h1{
        font-size: 20px;
    }
    .content{
        transform: scale(0.4);
    }
}