body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 960px; 
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 0;
    margin: 0;
}

.container div{
    height: 60px;
    width: 60px;
    padding: 0;
    margin: 0;
}
